# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
.pytest_cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
out/

# Temporary Word Files
~$*.docx
~$low is FINAL User version.docx
~$NAL PRD v1.docx

# Documentation
Below is FINAL User Stories v1.docx
FINAL PRD v1.docx
edge_agent/app/indexing/chunking/__pycache__/
edge_agent\app\logging\__pycache__/